<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mnist problem</title>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='css/style.css')}}"
		/>

		<script src="{{url_for('static', filename='js/API/api.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<div class="data-collecting">
				<div class="data-collecting_title">Режим сбора данных</div>
				<div class="switch-btn-content">
					<div
						class="switch-btn"
						onclick="toggleDataCollectMode(event)"
					></div>
					<div class="switch-button_state">Выключен</div>
				</div>

				<div class="data-collection_content hide">
					<label for="num">Число</label>
					<input
						type="text"
						name="number"
						id="num"
						class="num-input"
					/>
					<label for="line-width">Ширина линии</label>
					<input
						type="range"
						min="10"
						max="20"
						step="1"
						name="line-width"
						id="line-width"
						value="15"
						oninput="changeLineWidth(this)"
					/>
					<div class="line-width_state">15</div>
				</div>
			</div>
			<div class="draw-field-wrapper">
				<canvas
					class="draw-field"
					width="252px"
					height="252px"
				></canvas>
				<button class="predict" onclick="predict(event)">
					Распознать цифру
				</button>
				<button class="send-image hide" onclick="sendImage(event)">
					Отправить изображение
				</button>
				<div id="alert"></div>
			</div>
		</div>
		<script src="{{url_for('static', filename='js/script.js')}}"></script>
	</body>
</html>
